/vendor
/node_modules
/public/build
.env
.env.*
!.env.example
.phpunit.result.cache
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
